</main>
<footer>
    <div class="footer">
        <div class="infos">
            <div class="title-container">
                <div class="title-logo">
                    <img class="logo-footer" src="/images/logo.png" alt="PeakMode-Logo"/>
                    <p class="title-footer">PeakMode</p>
                </div>
            
                    <p class="tagline">Unlock Your Peak Potential</p>
           </div>
           <div class="footer-navigations">
                <div class="footernav column1">
                    <p class="footernav-txt">Home</p>
                    <p class="footernav-txt">Blogs</p>
                    <p class="footernav-txt">Submit Blog</p>
                </div>
                <div class="footernav column2">
                    <p class="footernav-txt">About</p>
                    <p class="footernav-txt">Contact Us</p>
                    <p class="footernav-txt">Terms & Condition</p>
                </div>
                <div class="footernav column3">
                    <p class="footernav-txt">Follow Us</p>
                    <div class="socials facebook">
                        <img class="img-fb" src="/images/facebook.png" alt="facebook-logo"/>
                        <p class="footernav-socials">Facebook</p>
                    </div>
                    <div class="socials instagram">
                        <img class="img-ig" src="/images/ig-logo.png" alt="instagram-logo"/>
                        <p class="footernav-socials">Instagram</p>
                    </div>
                    
                </div>
           </div>
        </div>
        <div class="copyright-container">
            <p class="copyright-txt">Copyright © 2025 PeakMode</p>
        </div>
       
    </div>
</footer>


</body>
</html>