<%- include("partials/navbar.ejs") %>

<div class="section-title about">
    <span>ABOUT US</span>
</div>
<div class="about-container">
    <div class="about-txt">
        <div class="about-par">
            <p class="about-title">Welcome to PeakMode – Unlock Your Peak Potential!</p>
            <p class="about-desc">At PeakMode, we believe that growth is a lifelong journey. Whether you're<br>
                seeking productivity tips, self-improvement strategies, or motivation to push<br>
                beyond your limits, our blog is designed to empower you with the knowledge <br>
                and inspiration you need.</p>
        </div>
        <div class="about-par">
            <p class="about-title">Our Mission</p>
            <p class="about-desc">Our mission is to help individuals reach their full potential by providing valuable<br>
                insights on personal development, mindset shifts, and actionable strategies.<br>
                We aim to create a community of like-minded individuals striving for continuous<br>
                improvement.</p>
        </div>
        <div class="about-par">
            <p class="about-title">What We Offer</p>
            <ul class="about-desc">
                <li><strong>In-Depth Blogs</strong> – Thought-provoking articles on productivity, motivation,<br>
                    and self-improvement.</li>
                <li><strong>Expert Insights</strong> – Learn from industry leaders and successful individuals.</li>
                <li><strong>Actionable Tips</strong> – Practical strategies you can implement in your daily life.</li>

            </ul>
        </div>
        <div class="about-par">
            <p class="about-title">Why PeakMode?</p>
            <p class="about-desc">We’re more than just a blog—we're a movement dedicated to helping you<br>
                unlock your peak potential. With a mix of research-backed strategies and real-<br>
                world experiences, we provide content that is not only informative but also<br>
                transformational. Join us in the journey of self-mastery. Let’s grow together!</p>
        </div>
    </div>
    <div class="logo-title-container">
        <img class="about-logo" src="/images/logo.png" alt="peakmode-logo">
        <p class="about-tagline">Unlock<br>Your<br>Peak<br>Potential</p>
    </div>
</div>
<div class="section-divider">
    <div class="star-container">
      <img class="star" src="/images/star.png"/>
      <img id="star" src="/images/star.png"/>
      <img class="star" src="/images/star.png"/>
    </div>
</div>

<%- include ("partials/footer.ejs") %>
