<%- include("partials/navbar.ejs") %>

<div class="section-title about">
    <span>TERMS & CONDITION</span>
</div>

<div class="termscontent-container">
    <div class="termslogo-container">
        <img class="about-logo" src="/images/logo.png" alt="peakmode-logo">
        <p class="about-tagline">Unlock<br>Your<br>Peak<br>Potential</p>
    </div>
    <div class="terms-container">
        <div class="term zero">
            <p class="term-par">Last Updated: Macrh 25, 2025<br>
                Welcome to PeakMode! By accessing and using our website, you agree to<br>
                comply with the following Terms & Conditions. Please read them carefully.</p>
        </div>
        <div class="term one">
            <p class="term-title">1. Use of Website</p>
            <ul class="term-list">
                <li>You must be at least 13 years old to use this website.</li> 
                <li>You agree to use PeakMode only for lawful purposes and in a way that does<br>
                    not infringe on others' rights.</li> 
                <li>You must be at least 13 years old to use this website.</li>    
            </ul>
        </div>
        <div class="term two">
            <p class="term-title">2. User-Generated Content</p>
            <ul class="term-list">
                <li>By submitting blogs, comments, or other content, you grant PeakMode a <br>
                    non-exclusive, royalty-free license to publish, distribute, and modify your <br>
                    submissions.</li> 
                <li>You are responsible for ensuring that your content does not violate <br>
                    copyright, privacy, or other legal rights.</li> 
                <li>We reserve the right to remove any content that violates our policies.</li>    
            </ul>
        </div>
        <div class="term three">
            <p class="term-title">3. Intellectual Property Rights</p>
            <ul class="term-list">
                <li>All website content, including text, images, logos, and design elements, are <br>
                    the property of PeakMode unless otherwise stated.</li> 
                <li>Unauthorized reproduction, distribution, or modification of our content is <br>
                    strictly prohibited.</li> 
            </ul>
        </div>
        <div class="term four">
            <p class="term-title">4. Limitation of Liability</p>
            <ul class="term-list">
                <li>PeakMode provides content for informational and educational purposes <br>
                    only. We do not guarantee the accuracy or reliability of any information..</li> 
                <li>We are not liable for any direct or indirect damages resulting from your use <br>
                    of the website.</li> 
            </ul>
        </div>
        <div class="term five">
            <p class="term-title">5. External Links</p>
            <p class="term=par">Our website may contain links to third-party websites. We do not endorse or <br>
                take responsibility for their content, privacy policies, or practices.</p>
        </div>
        <div class="term six">
            <p class="term-title">6. Termination of Access</p>
            <p class="term=par">We reserve the right to restrict or terminate your access to PeakMode if you <br>
                violate these Terms & Conditions.</p>
        </div>
        <div class="term seven">
            <p class="term-title">7. Changes to Terms</p>
            <p class="term=par">We may update these Terms & Conditions at any time. Continued use of <br>
                PeakMode after changes are posted constitutes acceptance of the revised <br>
                terms.</p>
        </div>
        <div class="term zero">
            <p class="term-title">8. Contact Us</p>
            <p class="term=par">If you have any questions regarding these Terms & Conditions, please contact <br>
                us at support@peakmode.com.</p>
        </div>
    </div>
    
</div>
<div class="section-divider">
    <div class="star-container">
      <img class="star" src="/images/star.png"/>
      <img id="star" src="/images/star.png"/>
      <img class="star" src="/images/star.png"/>
    </div>
</div>

<%- include("partials/footer.ejs") %>