.about-txt{
    margin-top: 56px;
}
.about-par{
    margin: 0px 0px 87px 170px;
}
.about-title{
    font-weight: bold;
    color: #1E293B;
    font-size: 28px;
}
.about-desc{
    list-style-position: inside;
    padding-left: 0;
    font-size: 20px;
    font-weight: 400;
}
.about-container{
  
    display: flex;
    flex-direction: row;
    margin-top: 75px;
 
}
.about-logo{
    width: 440px;
    height: 424px;
}
.about-tagline{
    font-size: 96px;
    color: #1E293B;
    font-weight: bold;
    line-height: 120px;
}
.logo-title-container{
    margin: 0px 0px 0px 269px;
}
